.Battle {
  padding-top: 30px;
  min-height: 100svh;
  padding-bottom: 100px;
}

.back {
  color: white;
}

.uploading {
  color: white;
}

.entries-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.battle-header {
  display: flex;
  justify-content: space-between;
}

.battle-title {
  text-transform: capitalize;
  font-weight: 800;
  font-size: 28px;
  color: white;
  margin-bottom: 10px;
}

.prize-pill {
  border: solid 1px #ffa930;
  border-radius: 50px;
  background: #ffa93061;
  color: white;
  padding: 3px 10px;
  margin-bottom: 10px;
  display: block;
  width: fit-content;
}

.deadline{
  color: white;
}

.upload-tape {
  margin-top: 20px;
  font-size: 16px;
}

.file-name {
  color: white;
  margin-bottom: 10px;
}

.file-container {
  .button-container {
    display: flex;
    gap: 10px;
  }
}

.download {
  width: 50px;
  height: 50px;
  background: #0f121a;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 25px;
  }
}

.winner {
  background: gold;
  border-radius: 50px;
  display: flex;
  padding: 5px;
  align-items: center;
}

.winner-avatar {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  margin-right: 10px;
}

.winner-right {
  display: flex;
  flex-direction: column;
}
