.Battle {
  padding-top: 30px;
  min-height: 100svh;
}

.back {
  color: white;
}

.entries-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.battle-title {
  //text-transform: uppercase;
  font-weight: 800;
  font-size: 28px;
  color: white;
  margin-bottom: 10px;
}

.prize-pill {
  border: solid 1px #00ffb7;
  border-radius: 50px;
  background: #048565;
  color: white;
  padding: 3px 10px;
  margin-bottom: 30px;
  display: block;
  width: fit-content;
}

.upload-tape{
  margin-top: 20px;
  font-size: 16px;
}

.file-name{
  color: white;
  margin-bottom: 10px;
}

.file-container{
  

  .button-container{
    display: flex;
    gap: 10px;
  }
}