.Battle {
  padding-top: 30px;
  min-height: 100svh;
}

.back{
  color: white;
}

.entries-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.battle-title {
  //text-transform: uppercase;
  font-weight: 800;
  font-size: 28px;
  color: white;
  margin-bottom: 10px;
}

.prize-pill {
  border: solid 1px #00ffb7;
  border-radius: 50px;
  background: #048565;
  color: white;
  padding: 3px 10px;
}
