.Battle {
  padding-top: 30px;
  min-height: 100svh;
  padding-bottom: 100px;
}

.battle-header-left {
  width: 100%;
}

.back {
  color: white;
}

.uploading {
  color: white;
}

.entries-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.battle-header {
  display: flex;
  justify-content: space-between;
}

.battle-title {
  text-transform: capitalize;
  font-size: 28px;
  color: white;
  margin-bottom: 10px;
}

.battle-info {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  min-width: 100%;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
  font-size: 14px;

  img {
    width: 30px;
  }
}

.prize{
  color: white;
}

.info-pill{
  color: white;
  background: #12192b;
  border-radius: 50px;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  gap: 5px;

  i{
    color: white;
  }
}

.prize-container {
  color: white;
  display: block;
  width: fit-content;
  display: flex;
  gap: 5px;
  align-items: center;
}

.deadline {
  color: white;
}

.upload-tape {
  margin-top: 20px;
  font-size: 16px;
}

.file-name {
  color: white;
  margin-bottom: 10px;
}

.file-container {
  .button-container {
    display: flex;
    gap: 10px;
  }
}

.download {
  width: 50px;
  height: 50px;
  background: #0f121a;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 25px;
  }
}

.winner {
  background: gold;
  border-radius: 50px;
  display: flex;
  padding: 5px;
  align-items: center;
}

.winner-avatar {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  margin-right: 10px;
}

.winner-right {
  display: flex;
  flex-direction: column;
}
