.Directory {
  min-height: 100svh;
  color: white;
  padding-top: 25px;

  a {
    color: white;
  }

  padding-bottom: calc(82px + 50px);
}

.tab {
  margin-right: 10px;
  display: inline-block;
  margin-bottom: 25px;
}
