.Feed {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 100svh;

  @media only screen and (min-width: 600px) {
    flex-direction: row;
  }
}

.feed-loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
  width: 100%;

}

.loader {
  width: 50px;
  animation: spin 3s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.banner {
  height: 80px;
  background: #f9c23c;
  border-radius: 10px;
}
