.Feed {
  display: flex;
  flex-direction: column;
  gap: 20px;

  min-height: 100svh;

}

.feed-loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100svh;
}

.loader {
  width: 50px;
  animation: spin 3s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.banner{
  height: 80px;
  background: #F9C23C;
  border-radius: 10px;
}