.Onboarding {
  color: white;
}


.carousel {
  overflow: hidden;
  height: 100svh;
}

.carousel-inner {
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease;
  height: 100svh;
}

.carousel-item {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  button {
    display: inline-block;
    margin-right: 12px;
  }

  &.centered {
    align-items: center;
    justify-content: center;
  }
}

.headshot-placeholder {
  width: 200px;
  height: 200px;
  background: rgb(184, 184, 184);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

.progress-bar-container{
  width: 100%;
  display: flex;
  padding-top: 20px;
}

.progress-bar-outer{
  width: 100%;
  background: #0f121a;
  height:10px;
  border-radius: 5px;
  
}

.progress-bar-inner{
  background:rgb(84, 230, 84);
  height:10px;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: end;
  padding-left: 5%;
}

.circle{
  min-height: 30px;
  min-width: 30px;
  background: grey;
  border-radius: 50px;
  
}