.Onboarding {
  color: white;
}

.Onboarding {
  color: white;
}

.carousel {
  overflow: hidden;
  height: 100svh;
}

.carousel-inner {
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease;
  height: 100svh;
}

.carousel-item {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  button {
    display: inline-block;
    margin-right: 12px;
  }

  &.centered {
    align-items: center;
    justify-content: center;
  }
}

.headshot-placeholder {
  width: 200px;
  height: 200px;
  background: rgb(184, 184, 184);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}
