.Onboarding {
  color: white;
  display: flex;
  flex-direction: column;
  position: relative;

  h1 {
    text-transform: capitalize;
  }

  .input-container {
    width: 100%;
  }

  h2 {
    margin-bottom: 20px;
  }
}

.carousel {
  overflow: hidden;
  flex: 1;
  inset: 0;
}

.carousel-inner {
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease;
  height: 100svh;
}

.carousel-item {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  button {
    display: inline-block;
    margin-right: 12px;
    margin-top: 20px;
  }

  &.centered {
    align-items: center;
    justify-content: center;
  }
}

.headshot-placeholder {
  width: 200px;
  height: 200px;
  background: rgb(184, 184, 184);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

.progress-bar-container {
  width: 100%;
  display: flex;
  padding-top: 20px;
  position: sticky;
  top: 0;
  left: 0;
  background: #080b13;
  z-index: 1;
}

.progress-bar-outer {
  width: 100%;
  background: #0f121a;
  height: 10px;
  border-radius: 5px;
}

.progress-bar-inner {
  background: #4b7cff;
  height: 10px;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: end;
  padding-left: 5%;
  align-items: center;
}
