.Profile {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  color: white;
  padding-top: 25px;
}

.profile-header {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.profile-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

  h1 {
    font-size: 20px;
  }

  button {
    margin-top: 15px;
  }
}
.profile-headshot-container {
  min-height: 150px;
  height: 150px;
  width: 150px;
  min-width: 150px;
  border-radius: 12px;
  background: #0f121a;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
  }
}

.web-link {
  color: #4b7cff;
}

.stat-card-container {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.stat-card {
  background: #0f121a;
  color: white;
  //height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  padding: 5%;
  border-radius: 10px;
}

.edit-profile {
  width: 100%;
  position: fixed;
  background: rgba(0, 0, 0);
  overflow-y: auto;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 5%;
  inset: 0; // sets top, left, bottom, right to 0. This creates a fixed height which allows scrolling.
}

.edit-profile-inner {
  overflow: scroll;
}

.edit-profile-section {
  margin-bottom: 50px;
}

.contact-tooltip {
  background: rgba(255, 255, 255, 0.15);
  padding: 10px 20px;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
