.Profile {
  display: flex;
  flex-direction: column;
  height: 100svh;
}

.profile-header {
  display: flex;
  gap: 20px;
}
.profile-info {
  display: flex;
  flex-direction: column;

  h1{
    font-size: 20px;
  }
}
.profile-headshot-container {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  border-radius: 12px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
  }
}
