.UserAuth {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  padding-top: 20px;
  color: white;
  justify-content: center;

  button {
    margin-top: 15px;
  }

  img {
    margin-bottom: 50px;
  }

  h2 {
    color: white;
    margin-bottom: 20px;
  }
}

.sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.sign-up-choice-container {
  display: flex;
  gap: 30px;
}

.sign-up-choice {
  width: 100px;
  height: 100px;

  display: flex;
}

.auth-switch {
  color: white;
  margin-top: 20px;
}

.casting {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  text-align: center;
}

.join-others {
  margin-bottom: 20px;
}

.forgot_password {
}
