.UserAuth {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  padding-top: 20px;

  h1 {
    color: white;
    margin-bottom: 20px;
  }
}

.sign-up {
  display: flex;
  flex-direction: column;
}



.auth-switch {
  color: white;
  margin-top: 20px;
}
