.VerifyEmail {
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  p {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  a {
    color: white;
  }

  button{
    margin-bottom: 10px;
  }
}
