.ActorCard {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  gap: 10px;

}

.actor-card-headshot {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center 30%;
  background-repeat: no-repeat;
  border-radius: 15px;
  margin-right: 10px;
}

.star {
  width: 25px;
  margin-right: 20px;
  cursor: pointer;
}

.actor-card-name {
  color: white;
  display: block;
  margin-bottom: 10px;
}
