.PollCard {
  background-color: #0f1422;
  // border: solid 1px #182241;
  padding: 25px 25px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: fit-content;

  .prize {
    color: white;
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 5px;
    text-transform: capitalize;
  }

  p {
    color: gold;
  }
}

.poll-card-header {
  display: flex;
  justify-content: space-between;
}

.poll-bar-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.poll-bar {
  height: 30px;
  background: #f1f9eb;
  border-radius: 10px;
  height: 45px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.poll-image-container {
  display: flex;
  gap: 10px;

  .image-container {
    height: 180px;
    width: 50%;
    background: rgb(233, 233, 233);
    border-radius: 10px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
}

.title {
  color: white;
}

.title {
  font-size: 18px;
  text-transform: capitalize;
}

.most-popular {
  .most-popular-label {
    color: #d64045;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .image-container {
    display: flex;
    align-items: center;
  }

  .dot {
    background: #d64045;
  }

  .dot-1 {
    height: 2px;
    width: 2px;
    background: #d64045;
    animation: dot-1 3s infinite;
    opacity: 0;
  }

  .dot-2 {
    height: 4px;
    width: 4px;
    background: #d64045;
    transform: translateX(15px) translateY(0);
    border-radius: 50px;
    animation: dot-2 2s infinite;
  }

  .dot-3 {
    height: 1px;
    width: 1px;
    background: #d64045;
    animation: dot-1 3s infinite;
  }

  @keyframes dot-1 {
    0% {
      opacity: 0;
      transform: translateY(0);
    }

    50% {
      opacity: 1;
      transform: translateY(-20px);
    }

    75% {
      opacity: 0;
    }

    100% {
      transform: translateY(0);
    }
  }

  @keyframes dot-2 {
    0% {
      opacity: 0;
      transform: translateX(15px) translateY(0);
    }

    50% {
      opacity: 1;
      transform: translateX(15px) translateY(-20px);
    }

    75% {
      opacity: 0;
    }

    100% {
      transform: translateX(15px) translateY(0);
    }
  }
}

.chest {
  width: 30px;
}
