.PollCard {
  background-color: #0f121a;
  padding: 6% 30px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.poll-card-header {
  display: flex;
  justify-content: space-between;
}

.poll-bar-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.poll-bar {
  height: 30px;
  background: #f1f9eb;
  border-radius: 10px;
  height: 45px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.poll-image-container {
  display: flex;
  gap: 10px;

  .image-container {
    height: 180px;
    width: 50%;
    background: rgb(233, 233, 233);
    border-radius: 10px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
}

.title,
.prize {
  color: white;
}

.title {
  font-size: 22px;
  font-family: "Sora";
  font-weight: 800;
}

.prize{
  img{
    margin-right: 5px;
  }
}

.time {
  font-size: 14px;
}

.question {
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
}

.category {
  color: #d34889;
  font-size: 14px;
}

.fade-out {
  animation: fade-out 0.3s forwards;
  @keyframes fade-out {
    0% {
      transform: translateX(0);
      opacity: 1;
    }

    100% {
      transform: translateX(-100%);
      opacity: 0;
    }
  }
}

.collapse {
  height: 0 !important;
  overflow: hidden;
  padding: 0;
}

/*.remove-card {
  display: none;
}*/

.most-popular{
  border: solid 1px #A33336;
}