.PollCard {
  background-color: #101626;
  border: solid 1px #182241;
  padding: 6% 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.poll-card-header {
  display: flex;
  justify-content: space-between;
}

.poll-bar-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.poll-bar {
  height: 30px;
  background: #f1f9eb;
  border-radius: 10px;
  height: 45px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.poll-image-container {
  display: flex;
  gap: 10px;

  .image-container {
    height: 180px;
    width: 50%;
    background: rgb(233, 233, 233);
    border-radius: 10px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
}

.title,
.prize {
  color: white;
}

.title {
  font-size: 20px;
  font-family: "Sora";
  font-weight: 600;
  text-transform: capitalize;
}

.prize {
  img {
    margin-right: 5px;
  }
}

.time {
  font-size: 14px;
}

.question {
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
}

.category {
  color: #d34889;
  font-size: 14px;
}

.fade-out {
  animation: fade-out 0.3s forwards;
  @keyframes fade-out {
    0% {
      transform: translateX(0);
      opacity: 1;
    }

    100% {
      transform: translateX(-100%);
      opacity: 0;
    }
  }
}

.collapse {
  height: 0 !important;
  overflow: hidden;
  padding: 0;
}

/*.remove-card {
  display: none;
}*/

.most-popular {
  .most-popular-label {
    color: #d64045;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .image-container {
    display: flex;
    align-items: center;
  }

  .dot {
    background: #d64045;
  }

  .dot-1 {
    height: 2px;
    width: 2px;
    background: #d64045;
    animation: dot-1 3s infinite;
    opacity: 0;
  }

  .dot-2 {
    height: 4px;
    width: 4px;
    background: #d64045;
    transform: translateX(15px) translateY(0);
    border-radius: 50px;
    animation: dot-2 2s infinite;
  }

  .dot-3 {
    height: 1px;
    width: 1px;
    background: #d64045;
    animation: dot-1 3s infinite;
  }

  @keyframes dot-1 {
    0% {
      opacity: 0;
      transform: translateY(0);
    }

    50% {
      opacity: 1;
      transform: translateY(-20px);
    }

    75% {
      opacity: 0;
    }

    100% {
      transform: translateY(0);
    }
  }

  @keyframes dot-2 {
    0% {
      opacity: 0;
      transform: translateX(15px) translateY(0);
    }

    50% {
      opacity: 1;
      transform: translateX(15px) translateY(-20px);
    }

    75% {
      opacity: 0;
    }

    100% {
      transform: translateX(15px) translateY(0);
    }
  }
}
