button {
  border: 0;
  border-radius: 50px;
  padding: 10px 20px;
  color: white;
  display: block;

  font-size: 14px;

  &.filled {
    background: #4B7CFF;
  }

  &.outline {
    background: none;
    border: solid 1px #4b7cff;
  }
}
