button {
  border: 0;
  border-radius: 50px;
  padding: 10px 20px;
  color: white;
  display: block;
  white-space: nowrap;

  i {
    margin-right: 5px;
  }

  font-size: 12px;

  &.filled {
    background: #141823;
  }

  &.outline {
    background: none;
    border: solid 1px #4b7cff;
  }

  &.filled_color {
    background: #4b7cff;
  }
}


.disabled{
  background: grey !important;
}