.Coin {
  position: relative;
  display: flex;

  .coin_background {
    width: 100%;
  }

  .sparkle {
    width: 40%;
  }
}

.sparkle {
  position: absolute;
  top: 0;
  left: 0;
  animation: spin infinite 2s linear;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(180deg);
    width: 20%;
    left: 5%;
    top: 5%;
  }

  100% {
    transform: rotate(360deg);
  }
}

.Chest {
  position: relative;
  display: flex;
  animation: shake 0.5s infinite;

  .chest_img {
    width: 100%;
  }

  .sparkle {
    width: 40%;
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(0deg);
  }
}
