.Dropdown {
  .select {
    height: 50px;
    background: #0f121a;
    display: flex;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
    justify-content: space-between;
  }

  .open-container {
    background: #0f121a;
  }
}

.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .checkbox {
    height: 30px;
    width: 30px;
    background: brown;

    &.selected {
      background: green;
    }
  }
}
