.video-container {
  width: 100%;
  position: relative;

  video {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 12px;
    display: block;
  }
}

.EntryCard {
  display: flex;
  flex-direction: column;
  transition: height 0.2s ease-in-out;
  transition: height 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: 0px 2px 4px 0 rgb(0 0 0 / 0.02);

  border-radius: 12px;
  display: flex;
  flex-direction: column;

  .name {
    font-size: 16px;
    color: white;
  }
}

.entry-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.entry-card-header-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pill {
  background: gold;
  color: black;
  border-radius: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

.card-menu-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}

.card-menu-icon {
  width: 35px;
  height: 35px;
  background: #141823;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.card-menu {
  background: #0f121a;
  width: max-content;
  position: absolute;
  z-index: 1;
  top: 45px;
  right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 15px;
  color: white;
}

.votes {
  background: white;
  border-radius: 50px;
  width: fit-content;

  padding: 8px 15px;
  color: black;
}

.vote-button {
  background: #4b7cff;
  border-radius: 50px;
  width: fit-content;
  padding: 8px 15px;
  color: white;
}

.user-actions {
  position: absolute;
  bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px;
}

.voted {
  background: gold;
  color: rgb(87, 74, 0);
}

.share-link {
  color: white;
}
