.Feedback {
  padding: 3%;
  position: fixed;
  inset: 0;
  overflow: auto;
  width: 100%;
  z-index: 1;
  background: #080b13;
  color: white;


  color: white !important;

  .screen-width{
    height: 100%;
  }

  .feedback-battle-title{
    text-transform: capitalize;
  }

  a {
    color: white;
  }

  .create-post-container {
    margin-top: 30px;
    background: #12192b;
    border-radius: 10px;
    padding: 20px;
  }

  textarea {
    width: 100%;
    background: transparent;
    border: 0;
    resize: none;
    height: 100px;

    color: white;

    &::placeholder {
      color: #344a83;
    }
  }

  .post-confirmation {
    color: rgb(47, 255, 206);
  }

  .feedback-container {
    margin-top: 50px;

    h3 {
      margin-bottom: 25px;
      text-transform: capitalize;
    }
  }

  .user-info {
    margin-top: 30px;
    display: flex;
    gap: 10px;

    .headshot {
      height: 50px;
      width: 50px;
      border-radius: 5px;
    }
  }
}
