.Feedback {
  padding-top: 30px;
  height: 100svh;
  inset: 0;
  overflow: scroll;
  width: 100%;
  position: fixed;
  background: #080b13;
  z-index: 1;
  color: white !important;

  a {
    color: white;
  }

  .create-post-container {
    margin-top: 30px;
    background: #12192b;
    border-radius: 10px;
    padding: 20px;
  }

  textarea {
    width: 100%;
    background: transparent;
    border: 0;
    resize: none;
    height: 100px;

    color: white;

    &::placeholder {
      color: #344a83;
    }
  }

  .post-confirmation {
    color: rgb(47, 255, 206);
  }

  .feedback-container {
    margin-top: 50px;
  }

  .user-info {
    margin-top: 30px;
    display: flex;
    gap: 10px;

    .headshot {
      height: 50px;
      width: 50px;
      border-radius: 5px;
    }
  }
}
