.Feedback {
  height: 100svh;
  inset: 0;
  width: 100%;
  position: fixed;
  background: #080b13;
  z-index: 1;
  color: white !important;

  a {
    color: white;
  }

  textarea {
    width: 100%;
    margin-top: 30px;
    background: #12192B;
    border: 0;
    resize: none;
    height: 100px;
    border-radius: 10px;
    color: white;
    padding: 20px;

    &::placeholder{
      color: #344a83;

    }
  }

  .feedback-container {
    margin-top: 50px;
  }

  .user-info{
    margin-top: 30px;
    display: flex;
    gap: 10px;

    .headshot{
      height: 50px;
      width: 50px;
      border-radius: 5px;
    }
  }

 
}
