.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  width: 100%;
  top: 0;
  border-radius: 10px;
  padding-top: 15px;
  margin-bottom: 25px;

  z-index: 1;
  .header-inner {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1e2947;
    padding: 50px 30px;
    border-radius: 10px;
    border: solid 1px rgb(54, 54, 143);
  }
}

.header-right {
  display: flex;
  gap: 10px;
}

.greeting-container {
  h2 {
    color: white;
    font-weight: 600;
  }

  p {
    color: #4b7cff;
  }
}

.coins-container {
  border: solid 1px #182241;
  background-color: #101626;
  border-radius: 200px;
  color: #4b7cff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  padding-left: 7px;

  img {
    margin-right: 5px;
    width: 20px;
    animation: coin-flip 3s infinite;
  }
}

@keyframes coin-flip {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

.avatar {
  width: 30px;
  height: 30px;
  background: grey;
  border-radius: 300px;
  background-position: center;
  background-size: cover;
}
