.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  
  .header-inner {
    
    border-radius: 50px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 20px;
  }
}
