.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  position: fixed;
  width: 100%;
  top: 0;
  background: #080b13;
  padding-top: 15px;
  padding-bottom: 10px;

  .header-inner {
    border-radius: 50px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header-right {
  display: flex;
  gap: 10px;
}

.greeting-container {
  h2 {
    color: white;
  }

  p {
    color: #4b7cff;
  }
}

.coins-container {
  border: solid 1px #4b7cff;
  background: #19274e;
  border-radius: 200px;
  color: #4b7cff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  padding-left: 7px;

  img {
    margin-right: 5px;
    width: 20px;
  }
}

.avatar {
  width: 30px;
  height: 30px;
  background: grey;
  border-radius: 300px;
  background-image: url("../media/headshot.jpg");
  background-position: center;
  background-size: cover;
}
