.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  width: 100%;
  top: 0;

  position: relative; /* create a stacking context */
  z-index: 10; /* higher than overlay's z-index */


  margin-bottom: 10px;

  z-index: 1;
  .header-inner {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #080b13;
    padding: 20px 10px;
    padding: 20px 3%;
    padding-bottom: 5px;
    // border: solid 1px rgb(54, 54, 143);
    // backdrop-filter: blur(10px);
  }

  .headshot {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    object-fit: cover;
  }
}

.header-right {
  display: flex;
  gap: 10px;
}

.greeting-container {
  display: flex;
  h2 {
    color: white;

    font-size: 20px;
  }

  p {
    color: #4b7cff;
    font-size: 14px;
  }
}

.coins-container {
  border-radius: 200px;
  color: gold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  margin-right: 20px;

  img {
    width: 30px;
    animation: coin-flip 3s infinite;
  }
}

@keyframes coin-flip {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

.avatar {
  width: 40px;
  height: 40px;
  background: grey;
  border-radius: 5px;
  background-position: center;
  background-size: cover;
  display: none;
}

.scroll{
  position: relative; /* stays inside header */
  z-index: 20; /* above other header elements if needed */
  cursor: pointer;
  width: 40px;
}
