.HowToPlay {
  h2 {
    margin-bottom: 20px;
  }
  h3 {
    margin-bottom: 10px;
    color: white;
  }

  p {
    color: rgb(177, 183, 237);
  }
  section {
    margin-bottom: 20px;
  }
}

.battle-how-to-play-container {
  padding: 3%;
  position: fixed;
  inset: 0;
  overflow: auto;
  width: 100%;
  z-index: 1;
  background-color: #0f1422;
  color: white;
}
