.Input {
  height: 50px;
  width: 100%;
  padding-left: 12px;
  border: 0;
  background: #0f121a;
  color: white;
  margin-bottom: 10px;
  border-radius: 10px;

  &::placeholder {
    color: #515C84;
    text-transform: capitalize;
  }

  &.disabled {
    opacity: 0.5;
  }
}

.icon-small {
  width: 20px;
}

.input-container {
  position: relative;
}

.input-icon-container {
  position: absolute;
  right: 0;
  top: 0;
}

.fa-circle-check{
  color: rgb(39, 236, 233);
}

.fa-circle-xmark{
  color:red;
}