.Input {
  height: 50px;
  width: 100%;
  padding-left: 12px;
  border: 0;
  background: #0f121a;
  color: white;
  margin-bottom: 10px;

  &::placeholder {
    color: grey;
  }
}


.icon-small{
  width: 20px;
}