.NavBar {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  display: flex;

  a {
    color: white !important;
  }

  img {
    width: 40px;
  }
}

.nav-bar-inner {
  width: 100%;
  background: #12192b;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding-top: 22.5px;
  padding-bottom: 45px;
}

.nav-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.residents{
  width: 35px !important;
}
