.NavBar {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  gap: 30px;
  justify-content: center;
  align-items: center;
  display: flex;

  a{
  color: white !important;
  }

}

.nav-bar-inner {
  width: 100%;
background: black;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  
}
