.share-modal-container {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.share-modal {
  background: #0f121a;
  border: solid 1px #1e2c47;
  padding: 30px;
  border-radius: 10px;
  z-index: 2;
  color: white;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;

  h2 {
    margin-bottom: 25px;
  }
}

.share-modal-header {
  display: flex;
  justify-content: space-between;
}

.message {
  background: #1f2638;
  padding: 10px;
  font-size: 14px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.share-link {
  font-size: 14px;
  color: #4b7cff;

  margin-bottom: 15px;
  cursor: pointer;
}
