.SharedVideo {
  height: 100svh;
  color: white !important;
  padding-top: 25px;

  header {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h4 {
    text-transform: capitalize;
    color: white !important;
  }
}

.private-entry {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
