.SideMenu {
  height: 100svh;
  width: 100%;
  background: #4b7cff;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: 0.3s ease-in-out;
}

.slideIn {
  transform: translateX(0%);
}

.slideOut {
  transform: translateX(-100%);
}
