.SideMenu {
  height: 100svh;
  width: 100%;
  background-color: #0f1422;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: 0.3s ease-in-out;
  padding: 3%;
  z-index: 1;
  color: white;

  span{
    display: block;
    font-size: 30px;
  }

}

.slideIn {
  transform: translateX(0%);
}

.outlet {
  height: 100svh;
  width: 100%;
  background: #080b13;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.3s ease-in-out;
  transform: translateX(-100%);
  z-index: 40;
  padding: 3%;
  color: white;
  h2 {
    margin-bottom: 25px;
  }
}

.outletSlideIn {
  transform: translateX(0%);
}

.content {
  max-width: 600px !important;
  margin: 0 auto;
  display: flex;
  margin-top: 50px;
}
