.Story {
  height: 100svh;
  width: 100%;
  background: #080b13;
  color: white;
  position: fixed;
  top: 0;
  z-index: 2;
  text-align: center;
  padding: 5%;

  .inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  h2 {
    margin-bottom: 25px;
  }

  p {
    margin-bottom: 25px;
  }
}


