.Story {
  height: 100svh;
  background: grey;
  position: fixed;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.scroll {
  color: white;
  position: absolute;
  bottom: 140px;
  right: 50px;
}
