.Story {
  height: 100svh;
  width: 100%;
  background: #080b13;
  color: white;
  position: fixed;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5%;

  h2{
    margin-bottom: 25px;
  }

  p{
    margin-bottom: 25px;
  }
}

.scroll{
  color: white;
  position: absolute; 
  bottom: 140px;  
  right: 50px;    
} 
