.SubmitFeedback{
    width: 100%;
    textarea{
        width: 100%;
        background: #12192B;
        border: 0;
        resize: none;
        height:100px;
        color: white;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}