.Terms {
  position: fixed;
  top: 0;
  left: 0;
  background:#080b13;
  z-index: 1;
  width: 100%;
  padding-top: 20px;
  overflow-y: auto;
    inset: 0;

  h3{
    margin-bottom: 10px;
  }

  section{
    margin-bottom: 20px;
  }

  
}
