.Wallet {
  height: 100svh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #080b13;
  color: white;
  z-index: 2;
  padding: 20px 20px;
}

.amount-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.amount {
  font-size: 50px;
}

.button-container {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.coin-container {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 50px;
}

.transaction-title {
  margin-bottom: 20px;
}

.transaction-row {
  display: flex;
  justify-content: space-between;
  background: #0f1422;
  padding: 15px;
  border-radius: 10px;
  align-items: center;
  font-size: 16px;
}

.transaction-status {
  text-transform: capitalize;
  font-size: 14px;
  color: rgb(63, 214, 63);
}

.complete {
  color: rgb(63, 214, 63);
}

.pending {
  color: orange;
}

.coin {
  width: 40px;
}
