* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
  outline: none;
  background-size: cover;
  background-position: center;
}

.screen-width {
  width: 100%;
  padding: 0 5%;
}

a {
  color: initial;
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: "Sora", sans-serif;
  letter-spacing: -1px;
}
