* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arupala Grotesk Trial', sans-serif;
  outline: none;
  background-size: cover;
  background-position: center;

}

.screen-width {
  width: 100%;
  padding: 0 3%;
}

a {
  color: initial;
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
 
  letter-spacing: -1px;
}


