* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arupala Grotesk Trial", sans-serif;
  outline: none;
  background-size: cover;
  background-position: center;
  user-select: none;
}

.screen-width {
  width: 100%;
  padding: 0 3%;
  margin: 0 auto;

  @media only screen and (min-width: 600px) {
    max-width: 800px;
  }
}

a {
  color: initial;
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: -1px;
}

p {
  font-size: 14px !important;
}
